@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #F9F9F9;
}
#button_filled {
  background-color: #B10F2E;
  color: #F9F9F9;
  border: none;
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  width: 143px;
  height: 44px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#button_filled:hover {
  background-color: #990D28;
}

#button_outline {
  color: #B10F2E;
  background-color: #F9F9F9;
  border: 1px solid #B10F2E;
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  width: 94px;
  height: 44px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#button_outline:hover {
    background-color: #FFFBFC;
}

